


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content custom-modal-content">
      <div class="modal-header border-0">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">New Show</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: post) do |f| %>
          <% if post.errors.any? %>
            <div style="color: red">
              <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
                <% post.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          
          
          


        
          <div class="form-group">
            <%= f.label :add_poster %>
            <%= f.file_field :image, class: "form-control", id: "image-input" %>
            <div class="card rounded-top mt-2 border-0 rounded-bottom">
              <img id="image-preview" src="#" alt="Image Preview" style="display: none;">
            </div>
          </div>

          
          <div class="form-group">
            <%= f.label :Headline %>
            <%= f.text_field :title, class: "form-control", placeholder: "Add a catchy headline for your show" %>
          </div>

          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control", placeholder: "Add a show description" %>
          </div>

          <div class="form-group">
            <%= f.label :artist %>
            <%= f.text_field :artist, class: "form-control", placeholder: "Who will be performing?" %>
          </div>

          <div class="form-group">
            <%= f.label :genre %>
            <%= f.text_field :genre, class: "form-control", placeholder: "Add a genre" %>
          </div>
          <!-- <%= f.label :genre %>
          <%= f.select :genre, ["Option 1", "Option 2", "Option 3", "Other"], {}, class: "form-control", id: "genre-select" %>
          <%= f.text_field :other_genre, class: "form-control", id: "other-genre-field", style: "display: none;", placeholder: "Enter your genre here" %>
          <script>
            document.getElementById('genre-select').addEventListener('change', function() {
              var textField = document.getElementById('other-genre-field');
              if (this.value === 'Other') {
                textField.style.display = 'block';
              } else {
                textField.style.display = 'none';
              }
            });
          </script> -->


          <div class="form-group">
            <%= f.label :date %>
            <%= f.date_field :date, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :time %>
            <%= f.time_field :time, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :Venue %>
            <%= f.text_field :location, class: "form-control", placeholder: "venue name" %>
          </div>
          <div class="form-group">
            <%= f.label :address %>
            <%= f.text_field :address, class: "form-control", placeholder: "venue address" %>
          </div>
          <div >
          <div class="modal-footer border-0 pt-4 pb-3">
            <div class="position-absolute bottom-0 end-0 mb-2 mx-3">
              <%= f.submit "Share Post", class: "submit-btn " %> <i class="fas fa-rocket icon-light"></i>
            </div>
          </div>

          </div>
        <% end %>

      </div>

    </div>
  </div>
</div>