<div class="card post-large border-0 shadow">
  <div class="card-body bg-dark text-white rounded-top rounded-bottom" style="font-size: 14px;">
    <%= link_to post_path(post) do %>
      <%= image_tag post.image, class: "card-img-top rounded-top rounded-bottom mx-auto d-block ml-2 mr-2 mt-1", alt: "image description" %>
    <% end %>
    <h5 class="card-title mt-2 mb-0"><%= post.title %></h5>
    <p class="card-text mt-0 mb-0"><em><%= post.artist %></em></p>
    <p class="card-text font-weight-bold mb-0" id="date"><%= post.date%> | <%= post.time.strftime("%I:%M %p") %></p>
    <p class="card-text font-weight-bold mb-0"><%= post.location %></p>
    
  </div>
</div>