<div class="d-flex justify-content-center horizontal-scroll-item mb-2">
  <div class="post-card border-0 shadow position-relative">
    <%= link_to post_path(post) do %>
      <%= image_tag post.image, class: "card-img-top rounded-top rounded-bottom mx-auto d-block ml-1 mr-1 mt-1", alt: "image description" %>
    <% end %>
    <h5 class="post-title text-wrap mt-1 mb-0"><%= post.title %></h5>
    <p class="card-text mt-0 mb-0"><em><%= post.artist %></em></p>
    <p class="card-text font-weight-bold mb-0"><%= post.location%><i class="fa fa-location-dot location-icon"></i></p>
    <span class="badge transparent position-absolute bottom-0 end-0 m-2"><%= post.date.strftime("%B %d") %></span>


    <div class="d-flex justify-content-left px-0 position-absolute bottom-0 left-0" id="bookmark-icon">
    <% if current_user.bookmarked_posts.include? post %>
      <%= button_to bookmark_path(id: current_user.bookmarks.where(post_id: post.id).first.id), method: :delete, remote: true, class: "btn btn-icon" do %>
        <i class="fa-solid fa-bookmark"></i>
      <% end %>
    <% else %>
      <%= form_with model: Bookmark.new, remote: true do |form| %>
        <%= form.hidden_field :post_id, value: post.id %>
        <%= form.button class: "btn btn-icon" do %>
          <i class="fa-regular fa-bookmark"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>

  </div>
</div>
