<p style="color: green"><%= notice %></p>

<div class="d-flex align-items-center mx-1">
  <h2 class="spotify-label">Event Details</h2>
  <div class="mx-2 mb-2">
    <%= link_to posts_path do %>
      <i class="fas fa-chevron-circle-left fa-xl" style="opacity: 0.75;"></i>
    <% end %>
  </div>
</div>

<div class="card border-0 mx-1 pb-4">
  <div class="card-body bg-dark text-white rounded-top rounded-bottom">

    <% if current_user == @post.user %>
     <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><%= link_to 'Edit', edit_post_path(@post), class: 'dropdown-item' %></li>
          <li><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    <% end %>

    <div class="container">
      <%= image_tag @post.image, class: "card-img-top rounded-top rounded-bottom d-block", alt: "image description" %>

    </div>
    <% if current_user == @post.user %>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          Actions
        </button>
        <div class="dropdown-menu">
          <%= link_to 'Edit', edit_post_path(@post), class: 'dropdown-item' %>
          <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %>
        </div>
      </div>
    <% end %>
    <h3 class="title mb-1 mt-4"><%= @post.title %></h3>

    <p class="card-text mb-0"><%= @post.description %></p>


    <div>
      <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-sm btn-primary mb-2 mx-2" %>
    </div>

    <div class="card rounded-top rounded-bottom mt-4 mb-5" id="map" style="height: 200px">
      <script>
        function initMap() {
          const postLocation = { lat: <%= @post.latitude %>, lng: <%= @post.longitude %> };
          const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 12,
            center: postLocation
          });
          const marker = new google.maps.Marker({
            position: postLocation,
            map: map,
            title: "<%= @post.title %>"
          });
          
        }
      </script>
       <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlKDCkW85ISXnekevdGNmjkf6dcG6nCZ0&callback=initMap"></script>
    </div>
  </div>

</div>