<!DOCTYPE html>
<html>
  <head>
    <title>Lemonade</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'maps' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlKDCkW85ISXnekevdGNmjkf6dcG6nCZ0"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlKDCkW85ISXnekevdGNmjkf6dcG6nCZ0&callback=initMap"></script>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <%= yield %>
  </body>
</html>
